---
import Layout from "../layouts/Layout.astro";
---

<Layout title="A+E Networks - Life Magnified ">
  <main>
    <section class="flex flex-col lg:flex-row gap-12 lg:gap-16 lg:justify-between lg:items-center mx-auto max-w-fit">
      <div class="lg:max-w-xs lg:mb-0 px-4">
        <h2 class="font-roboto uppercase text-5xl font-light mb-8">
          Life, <br />
          <span class="border-b border-b-black">magnified.</span>
        </h2>
        <p class="font-droid text-md mb-4">
          Since the dawn of time, storytelling has allowed us to make sense of
          our lives and the world around us. At A+E Networks, we believe we are
          more similar than we are different. That is why we create and
          illuminate stories that are relentless in moving boundaries and
          bridging cult...
        </p>
        <a
          href="#"
          class="font-roboto text-md font-light capitalize underline underline-offset-4 hover:text-[#f0c2b2]"
          >Visit who we are</a
        >
      </div>
      <img
        src="https://cdn.aenetworks.com/2018/05/WhoWeAre3.jpg?w=700,smart"
        alt="Movie set staring a man in a forest"
				title="Movie set staring a man in a forest"
        class="mx-auto lg:mx-[initial] h-[100vw] md:h-auto object-cover"
      />
    </section>
  </main>
</Layout>
